[Unit]
Description=Photobox Startup Script

[Service]
User=pi
Group=pi
Type=simple
Environment=HOSTNAME=raspberrypi
WorkingDirectory=/home/pi/photobox
ExecStart=/usr/bin/python3 /home/pi/photobox/main.py
RestartSec=10
Restart=on-failure

[Install]
WantedBy=multi-user.target
